.footer
  .menu
    %ul.list
      %li
        = link_to do
          top
      %li
        = link_to do
          猪名川町について
      %li
        = link_to do
          空き家バンクとは
      %li
        = link_to do
          掲載一覧