.menu
  %ul.list
    %li
      = link_to root_path do
        TOP
      -# =link_to "", class:"btn__icon" do
      -#   = icon('fas', 'fa-home')
    %li
      =link_to new_akiya_path do
        新規登録
    %li
      =link_to do
        空き家バンクとは
    %li
      =link_to "akiyas/all" do
        掲載一覧