.wapper
  .header
    .title
      %h1 空き家バンク
      %p 
  .main
    .contents
      .content1
        .menu
          %ul.list
            %li
              =link_to "", class:"btn__icon" do
                = icon('fas', 'fa-home')
            %li
              =link_to do
                猪名川町について
            %li
              =link_to do
                空き家バンクとは
            %li
              =link_to do
                掲載一覧
      .content2
        .topics
          .topic
            写真
          .topic
            写真
          .topic
            写真
      .content__3
        .interview
          利用者の声
      .content__4
        掲載物件
      .content__5
        .map
          相談はこちらまで
  .footer
    .menu
      %ul
        %li top
        %li 猪名川町について
        %li 空き家バンクとは
        %li 掲載一覧