.main
  .contents
    .content1
      =render "menubar"

    .content2
      .akiya
        .akiya__top
          = @akiya.address
        .akiya__categorys
          .akiya__categorys--category
            古民家
          .akiya__categorys--category
            住宅地
          .akiya__categorys--category
            駅近
          .akiya__categorys--category
            広い
        .akiya__content
          = @akiya.madori_id
        .akiya__map
          所在地
=render "footer"