.akiya{
  height: 100%;
  width: 100%;
  padding-bottom: 25px;
  &__top{
    margin: 0 auto 25px;
    height: 60px;
    width: 500px;
    border: 2px solid black;
    border-radius: 3px;
    line-height: 60px;
    font-size: 20px;
    padding-left: 15px;
  }
  &__categorys{
    display: flex;
    justify-content: center;
    &--category{
      padding: 2px 4px;
      margin-right: 5px;
      margin-bottom: 15px;
      background-color: white;
      border: rgb(248, 225, 194) 3px solid;
      border-radius: 10px;
    }
  }
  &__content{
    margin: 0 auto 25px;
    height: 300px;
    width: 500px;
    border: 2px solid black;
    border-radius: 3px;
  }
  &__map{
    margin: 0 auto ;
    height: 300px;
    width: 500px;
    border: 2px solid black;
    border-radius: 3px;
  }
}